doctype html
html
   head
      meta(charset='utf-8')
      title Project
      //link(rel="shortcut icon" href="/img/scribbleTestIcon.png")
   body
    div#header
    div#root

    script(src="js/bundle.js")
