doctype html
html
   head
      meta(charset='utf-8')
      title FirstKeyMorgage.com
      link(rel="shortcut icon" href="img/fk-home-logo.png")
      link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic')
      link(rel="stylesheet" href="/css/reset.css")
      link(rel="stylesheet" href="/css/normalize.css")
      link(rel="stylesheet" href="/css/skeleton.css")
      link(rel="stylesheet" href="/css/main-style.css")
      link(rel="stylesheet" href="/css/resp.css")
   body(style="background-color: white;")
    div#header
    div.ln-white-dark-light
    div#root

    script(src="js/bundle.js")
