.layout-fixed{
  width: 872px;
  margin: 0 auto;
}

.ln-white-dark-light{
  height: 1px;
  border-top: 1px solid #fff;
  background-color: #e1e1e1;
  border-bottom: 1px solid #f3f2f0;
}

#menu-bar{
  border-bottom: 2px solid white;
  margin-bottom: 12px;
  position: relative;
  font-size:0px;
}
#menu-bar > li{
  float: left;
  padding: 2px 5px;
  margin: 0 30% 0 0;
  font-size: 20px
}

#menu-bar > li:last-child{ margin-right:0; padding-right:0}
#menu-bar > li > a:hover{ color: #C5B358 }
#main-img-bar{ position:relative; transition: opacity .5s; }

.main-tab{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #f7f6f4;
  color: #6e6e6e;
  font-size: 14px;
  line-height: 24px;
  transition: opacity 500ms ease;
  padding-left: 11px;
  padding-right: 14px;
}

.product-link{
  color:#00698f;
  font-weight: bold;
}
.product-link:hover{
  color:#44bcf0;
  font-weight: bold;
}
fieldset{
  color:green;
}
fieldset:disabled{
  color:red;
}
fieldset a {
  color: #0000EE;
}
fieldset a:hover {
  text-decoration: underline;
}
